regions:
- us-east-1
- global

account-blocklist:
- {{ blocked_account }}

accounts:
  {% for act in accounts %}
  {{act}}:
    presets:
    - common
  {% endfor %}

presets:
  terraform:
    filters:
      S3Bucket:
      - type: glob
        value: "my-statebucket-*"
      DynamoDBTable:
      - "terraform-lock"
  common:
    filters:
      IAMRole:
      - "OrganizationAccountAccessRole"
  
